In [17]:
name = "Rapaa"
adress,no_rumah = "Perum baros","12"
age = "18"
score = 0
ismarried = True

print("Nama:",name)
print("Alamat:",adress)
print("Umur:",age)
print("nilai:",score)
print("Nikah:",ismarried)
print("no rumah:",no_rumah)

Nama: Rapaa
Alamat: Perum baros
Umur: 18
nilai: 0
Nikah: True
no rumah: 12

In [10]:
print("tipe data <name>:",type(name))
print("tipe data <adress>:",type(adress))
print("tipe data <age>:",type (age))
print("tipe data <score>:",type (score))
print("tipe data <ismarried>",type (ismarried))

tipe data <name>: <class 'str'>
tipe data <adress>: <class 'str'>
tipe data <age>: <class 'str'>
tipe data <score>: <class 'int'>
tipe data <ismarried> <class 'bool'>

In [14]:
strToint = int(score)
strTobool = bool(ismarried)
strTofloat = float(age)
print(strToint + strTobool,strTofloat, sep ="_"  )

1_18.0

In [21]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("nilai desimal:",desimal)
print("nilai octal:",octal)
print("nilai biner:",biner)
print("nilai hexa:",hexa)

print("binnr",desimal, ":",bin(desimal))
print("octal",desimal, ":",oct(desimal))
print("hexa",desimal, ":",hex(desimal))

nilai desimal: 500
nilai octal: 255
nilai biner: 10
nilai hexa: 255
binnr 500 : 0b111110100
octal 500 : 0o764
hexa 500 : 0x1f4

In [23]:
i= "cicurug"
a= len(i)
print(i[0])
print(a)
print(i [a-1])

c
7
g

In [33]:
o = ["apel","alpukat","anggur"]
ob = len(o)
print(o)
print(o[0])
print(o[ob-1])
print(o[ob-1][0])
print(o[ob-1][len(o[ob-1])-1])

['apel', 'alpukat', 'anggur']
apel
anggur
a
r

In [50]:
nameg = ("aio","asa","Raffa")
print(nameg)
print(nameg[1])




student_data ={
    "nama" : "rappa",
    "umur" : 18,
    "hobi" : ["mimpi ", "baca buku dojin","Gooning"],
    "alamat" :{
        "perum" : "baros",
        "provinsi" : "jabar",
        "kota" : "sukabumi"
        
    },
    "Nikah" : True   
        }
print(student_data)
print(student_data["nama"])
print(student_data["umur"])
print(student_data["alamat"]["perum"])
print(student_data["Nikah"])
print(student_data["hobi"][2])

('aio', 'asa', 'Raffa')
asa
{'nama': 'rappa', 'umur': 18, 'hobi': ['mimpi ', 'baca buku dojin', 'Gooning'], 'alamat': {'perum': 'baros', 'provinsi': 'jabar', 'kota': 'sukabumi'}, 'Nikah': True}
rappa
18
baros
True
Gooning

In [53]:

l_l = [["Nama", "rafa"], ["Istri", "asa"], ["status", True]]
dls = dict(l_l)
print(dls)


l_t = [("nama", "rapa"), ("alamat", "skbmi")]
dts = dict(l_t)
print(dts)


t_l = (["jenis", "Yuda"], ["type", "pedofilia"])
dtl = dict(t_l)
print(dtl)


t_t = (("nama", "yuda"), ("Jenis", "hewan berkaki 3"))
dtt = dict(t_t)
print(dtt)


keys = ["kendaraan", "brand", "ip"]
values = ["mobil", "tokia", 2500]
car = dict(zip(keys, values))
print(car)

{'Nama': 'rafa', 'Istri': 'asa', 'status': True}
{'nama': 'rapa', 'alamat': 'skbmi'}
{'jenis': 'Yuda', 'type': 'pedofilia'}
{'nama': 'yuda', 'Jenis': 'hewan berkaki 3'}
{'kendaraan': 'mobil', 'brand': 'tokia', 'ip': 2500}